*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'IBM Plex Mono', sans-serif;
}

#section-register{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: #111;
	transition: opacity 0.5s;
}

#container-register{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 90%;
	min-width: 350px;
	max-width: 600px;
	height: 300px;
	background: #01083942;
	padding: 2.5rem 6rem;
	border: .2rem solid #3b3b3b;

	animation: border_palpitante 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .8rem;
	border-radius: 1rem;
}

@keyframes border_palpitante {
	from {
		box-shadow: 0 0 0 #50389c;
	}

	to {
		box-shadow: 0 0 20px #50389c;
	}
}

.register-input{
	color: white;
	text-align: center;
	background: #000;
	width: 100%;
	min-width: 300px;
	border-radius: .5rem;
	height: 50px;
	border: 3px solid #8f8f8f;
	padding: .3rem;
	outline: none;
	font-size: 1.5rem;
}

.register-input:hover,
.register-input:focus,
.register-button:hover{
	box-shadow: 0 0 5px #50389c;
}



.register-input::placeholder{
	color: #C2C2C2;

}


.register-button {
    width: 80%;
    min-width: 100px;
    max-width: 200px;
    height: 50px;
    box-shadow: 0 0 5px #000000;
    border-radius: 10px;
    font-size: 1.4rem;
    border: 3px solid #8f8f8f;
    color: white;
    cursor: pointer;
    background: linear-gradient(110deg, #000, #1b2f67 5% 15%, #000 45%);
    background-size: 100% 100%;

    transition: background-size .5s;
    text-shadow: 0 0 20px #000;

}

.register-button:hover{
	background-size: 300% 100%;
}



body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-corner{
	background: transparent;
}

.chat-messages::-webkit-scrollbar {
    -webkit-appearance: none;
}